[client]
#password = your_password
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]

server-id = 1
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql/data
socket = /var/lib/mysql/mysql.sock
pid-file = /var/run/mysqld/mysqld.pid

# Logging configuration.
log-error = /var/lib/mysql/mysql-error.log

user = mysql

# MySQL 8 no longer ships with /usr/lib64/mysql/plugin/caching_sha2_password.so.
default_authentication_plugin=mysql_native_password

performance_schema = on

# Bin logs
binlog-format           = ROW
log-bin                 = /var/lib/mysql/data/mysql-bin
log-slave-updates       = 1
expire-logs-days        = 5
sync-binlog             = 1
max_binlog_size         = 100M


[mysqldump]
quick
max_allowed_packet = 64M